<meta name="viewport" content="width=device-width, initial-scale=1">
<meta charset="UTF-8">
<meta name="language" content="<%= locals.site.languageLong -%>">
<meta http-equiv="content-type" content="text/html">
<meta name="author" content="Victoria Koivisto-Kokko">
<meta name="designer" content="Victoria Koivisto-Kokko">
<meta name="publisher" content="Victoria Koivisto-Kokko">
<meta name="description" content="<%= locals.site.siteDescription -%>">
<meta name="keywords" content="<%= locals.site.siteKeywords -%>">
<meta name="robots" content="index,follow">
<meta name="revisit-after" content="7 days">
<meta name="distribution" content="web">
<meta name="no-email-collection" content="http://www.unspam.com/noemailcollection/">
<base href="<%= locals.site.base -%>">
<link rel="stylesheet" href="styles/bootstrap.min.css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="styles/oeccss.css">
<link rel="shortcut icon" type="image/x-icon" href="images/favicon.png">
<title><%= locals.site.siteTitle %> - <%= locals.blocks.title %></title>
