<!DOCTYPE html>
<html lang="<%= locals.site.languageShort -%>">
	<head>
		<%- include('../partials/head') -%>
	</head>
	<body class="container-fluid">
		<%- locals.body -%>
		<%- include('../partials/page-footer') -%>
		<%- include('../partials/page-scripts') -%>
	</body>
</html>
