<!DOCTYPE html>
<html lang="<%- config.languageShort -%>">
	<head>
		<%- include('../partials/head') %>
	</head>
	<body class="container-fluid">
		<%- body -%>
		<%- include('../partials/page-footer') %>
		<%- include('../partials/page-scripts') %>
	</body>
</html>
